# 数据库操作

- basic read/query --> pd.read_sql / pd.read_sql_table pd,.to_sql
- using sqlalchemy --> http://www.sqlalchemy.org/

In [2]:
from sqlalchemy import create_engine

In [3]:
# create db
db_url = "sqlite:///test.db"
engine = create_engine(db_url)

## to_sql

In [4]:
import pandas as pd
import numpy as np

data = pd.DataFrame(np.random.rand(4, 3), columns=["a", "b", "c"])

In [5]:
data

          a         b         c
0  0.734174  0.638650  0.132964
1  0.319114  0.315493  0.221940
2  0.032175  0.816581  0.507119
3  0.982247  0.241446  0.831430

In [6]:
data.to_sql(con=engine, name="t_sample", index=False, if_exists="replace")

## read_sql / read_sql_table

In [7]:
data_read = pd.read_sql_table(con=engine, table_name="t_sample")

In [8]:
data_query = pd.read_sql(con=engine, sql="select count(1) from t_sample")

In [9]:
print(data_read)

          a         b         c
0  0.734174  0.638650  0.132964
1  0.319114  0.315493  0.221940
2  0.032175  0.816581  0.507119
3  0.982247  0.241446  0.831430

In [10]:
print(data_query)

   count(1)
0         4