# 数据库操作

- basic read/query --> pd.read_sql / pd.read_sql_table pd,.to_sql
- using sqlalchemy --> http://www.sqlalchemy.org/

In [45]:
from sqlalchemy import create_engine

In [46]:
# create db
db_url = "sqlite:///test.db"
engine = create_engine(db_url)

In [49]:
## to_sql
import pandas as pd
import numpy as np

data = pd.DataFrame(np.random.rand(4, 3), columns=["a", "b", "c"])

In [50]:
data

          a         b         c
0  0.959857  0.404704  0.203658
1  0.564886  0.001970  0.327876
2  0.457470  0.041059  0.881885
3  0.372469  0.655776  0.086884

In [62]:
data.to_sql(con=engine, name="t_sample", index=False, if_exists="replace")

In [63]:
## read_sql

data_read = pd.read_sql_table(con=engine, table_name="t_sample")

In [64]:
data_query = pd.read_sql(con=engine, sql="select count(1) from t_sample")

In [65]:
print(data_read)

          a         b         c
0  0.959857  0.404704  0.203658
1  0.564886  0.001970  0.327876
2  0.457470  0.041059  0.881885
3  0.372469  0.655776  0.086884

In [67]:
print(data_query)

   count(1)
0         4