# Python 简介


推荐的社区:

- Anaconda
- Github
- Stackoverflows



# 配置环境

推荐直接安装 Anaconda， 默认安装大部分数据科学需要的 packages

- Downloads: https://www.anaconda.com/download/#windows
- Docments: https://docs.anaconda.com/


# 常见的IDE

- Pycharm
- **Jupyter notebook**
- Spyder
- Rodeo

# 如何管理 envs / packages

- GUI, 使用 Anaconda-naviga
- cmd, conda tools
    - https://conda.io
    
    
# version control

- git: https://git-scm.com/download/win

# Python basic

- ppt 1-6

# Jupyter notebook 基础

## 启动 Jupyter notebook

```shell
$ jupyter notebook
[I 15:20:52.739 NotebookApp] Serving notebooks from local directory:
/home/wesm/code/pydata-book
[I 15:20:52.739 NotebookApp] 0 active kernels
[I 15:20:52.739 NotebookApp] The Jupyter Notebook is running at:
http://localhost:8888/
[I 15:20:52.740 NotebookApp] Use Control-C to stop this server and shut down
all kernels (twice to skip confirmation).
Created new window in existing browser session.
```

## 帮助及快捷键参见 toolbar - Help

## Basic cell

In [1]:
import numpy as np
import pandas as pd

In [2]:
# code and output in the same cell
data = {i : np.random.randn() for i in range(7)}
data

{0: 1.148591692443811,
 1: 0.4591238410702719,
 2: 0.5328838266097352,
 3: 0.9005659687331088,
 4: -1.3518501362517317,
 5: -1.146208137846315,
 6: 0.9267088428972986}

## Tab Completion

In [3]:
an_apple = 27
an_example = 42
# an

NameError: name 'an' is not defined

In [ ]:
np.

## 如何查看代码内部的说明

In [4]:
np.arange?

In [5]:
?np.arange

In [6]:
# go deeper
??pd.DataFrame

In [ ]:
?help

In [7]:
help(np.arange)

Help on built-in function arange in module numpy.core.multiarray:

arange(...)
    arange([start,] stop[, step,], dtype=None)

    Return evenly spaced values within a given interval.

    Values are generated within the half-open interval ``[start, stop)``
    (in other words, the interval including `start` but excluding `stop`).
    For integer arguments the function is equivalent to the Python built-in
    `range <http://docs.python.org/lib/built-in-funcs.html>`_ function,
    but returns an ndarray rather than a list.

    When using a non-integer step, such as 0.1, the results will often not
    be consistent.  It is better to use ``linspace`` for these cases.

    Parameters
    ----------
    start : number, optional
        Start of interval.  The interval includes this value.  The default
        start value is 0.
    stop : number
        End of interval.  The interval does not include this value, except
        in some cases where `step` is not an integer and floating point
        round-off affects the length of `out`.
    step : number, optional
        Spacing between values.  For any output `out`, this is the distance
        between two adjacent values, ``out[i+1] - out[i]``.  The default
        step size is 1.  If `step` is specified, `start` must also be given.
    dtype : dtype
        The type of the output array.  If `dtype` is not given, infer the data
        type from the other input arguments.

    Returns
    -------
    arange : ndarray
        Array of evenly spaced values.

        For floating point arguments, the length of the result is
        ``ceil((stop - start)/step)``.  Because of floating point overflow,
        this rule may result in the last element of `out` being greater
        than `stop`.

    See Also
    --------
    linspace : Evenly spaced numbers with careful handling of endpoints.
    ogrid: Arrays of evenly spaced numbers in N-dimensions.
    mgrid: Grid-shaped arrays of evenly spaced numbers in N-dimensions.

    Examples
    --------
    >>> np.arange(3)
    array([0, 1, 2])
    >>> np.arange(3.0)
    array([ 0.,  1.,  2.])
    >>> np.arange(3,7)
    array([3, 4, 5, 6])
    >>> np.arange(3,7,2)
    array([3, 5])

click just after read_csv( in the cell below and press Shift+Tab

In [8]:
pd.read_csv(

SyntaxError: unexpected EOF while parsing (<ipython-input-8-bf2d355a7548>, line 1)

## Magic function

In [9]:
%timeit np.random.randint(10)

The slowest run took 1378.98 times longer than the fastest. This could mean that an intermediate result is being cached.
100000 loops, best of 3: 1.8 µs per loop

In [10]:
%time np.random.randint(10)

CPU times: user 38 µs, sys: 0 ns, total: 38 µs
Wall time: 50.1 µs

8

In [ ]:
?%save

In [11]:
%%writefile sample.py

def f(x, y, z):
    return (x + y) / z

a = 5
b = 6
c = 7.5

result = f(a, b, c)
print("results: {}".format(result))

Overwriting sample.py

In [ ]:
# %load sample.py

def f(x, y, z):
    return (x + y) / z

a = 5
b = 6
c = 7.5

result = f(a, b, c)
print("results: {}".format(result))

In [ ]:
%run sample.py

# Python Language Basics

## Language Semantics

### Indentation, not braces

```python
for x in array:
    if x < pivot:
        less.append(x)
    else:
        greater.append(x)
```

```python
a = 5; b = 6; c = 7
```

### Everything is an object

### Comments

```python
results = []
for line in file_handle:
    # keep the empty lines for now
    # if len(line) == 0:
    #   continue
    results.append(line.replace('foo', 'bar'))
```

```python
print("Reached this line")  # Simple status report
```

### Function and object method calls

```python
result = f(x, y, z)
g()
```


```python
obj.some_method(x, y, z)
```


```python
result = f(a, b, c, d=5, e='foo')
```

## Variables and argument passing

In [13]:
a = [1, 2, 3]

In [14]:
b = a

In [15]:
a.append(4)
b

[1, 2, 3, 4]

In [16]:
b_n = a.copy()

In [18]:
a.append(5)

In [19]:
a

[1, 2, 3, 4, 5]

In [20]:
b_n

[1, 2, 3, 4]

In [21]:
a = 4.5
b = 2
# String formatting, to be visited later
print('a is {0}, b is {1}'.format(type(a), type(b)))
a / b

a is <class 'float'>, b is <class 'int'>

2.25

In [ ]:
a = 5
isinstance(a, int)

In [ ]:
a = 5; 
b = 4.5;
isinstance(a, (int, float))

In [ ]:
isinstance(b, (int, float))

## Attributes and methods

```python
In [1]: a = 'foo'

In [2]: a.<Press Tab>
a.capitalize  a.format      a.isupper     a.rindex      a.strip
a.center      a.index       a.join        a.rjust       a.swapcase
a.count       a.isalnum     a.ljust       a.rpartition  a.title
a.decode      a.isalpha     a.lower       a.rsplit      a.translate
a.encode      a.isdigit     a.lstrip      a.rstrip      a.upper
a.endswith    a.islower     a.partition   a.split       a.zfill
a.expandtabs  a.isspace     a.replace     a.splitlines
a.find        a.istitle     a.rfind       a.startswith
```

In [25]:
a = 'foo'

In [30]:
a_upper = a.upper()

In [31]:
a_upper

'FOO'

In [26]:
a.capitalize()

'Foo'

In [27]:
a.count('o')

2

In [28]:
a.upper()

'FOO'

## Imports

```python
# some_module.py
PI = 3.14159

def f(x):
    return x + 2

def g(a, b):
    return a + b
```
```python
import some_module
result = some_module.f(5)
pi = some_module.PI

from some_module import f, g, PI
result = g(5, PI)

import some_module as sm
from some_module import PI as pi, g as gf

r1 = sm.f(pi)
r2 = gf(6, pi)
```

In [ ]:
# %load sample.py

def f(x, y, z):
    return (x + y) / z

a = 5
b = 6
c = 7.5

result = f(a, b, c)
print("results: {}".format(result))

In [ ]:
import sample as sp

f = sp.f

## Binary operators and comparisons

In [33]:
print(5 - 7)
print(12 + 21.5)
print(5 <= 2)

-2
33.5
False

In [34]:
a = [1, 2, 3]
b = a
c = list(a)

print(a is b)
print(a is not c)

True
True

In [35]:
a == c

True

In [36]:
a = None
a is None

True

## Mutable and immutable objects

In [37]:
a_list = ['foo', 2, [4, 5]]
a_list[2] = (3, 4)
a_list

['foo', 2, (3, 4)]

In [38]:
a_tuple = (3, 5, (4, 5))
a_tuple[1] = 'four'

TypeError: 'tuple' object does not support item assignment

## String

In [39]:
a = 'one way of writing a string'
b = "another way"

c = """
This is a longer string that
spans multiple lines
"""

In [40]:
c.count('\n')

3

In [41]:
c.count('n')

4

In [42]:
a = 'this is a string'
a[10] = 'f'

TypeError: 'str' object does not support item assignment

In [44]:
print(a)

b = a.replace('string', 'longer string')

print(b)

this is a string
this is a longer string

In [45]:
a = 5.6
s = str(a)
print(s)

5.6

In [46]:
s

'5.6'

In [47]:
s = 'python'
list(s)

['p', 'y', 't', 'h', 'o', 'n']

In [48]:
s = r'this\has\no\special\characters'
s

'this\\has\\no\\special\\characters'

In [53]:
a = 'this is the first half '
b = 'and this is the second half'
a + b

'this is the first half and this is the second half'

In [54]:
template = '{0:.2f} {1:s} are worth US${2:d}'

template.format(4.5560, 'Argentine Pesos', 1)

'4.56 Argentine Pesos are worth US$1'

## Booleans

In [55]:
True and True
False or True

True

## Dates and times

In [57]:
from datetime import datetime, date, time
dt = datetime(2011, 10, 29, 20, 30, 21)

In [58]:
dt.day

29

In [59]:
dt.minute

30

In [60]:
dt.date()

datetime.date(2011, 10, 29)

In [61]:
dt.time()

datetime.time(20, 30, 21)

In [62]:
dt.strftime('%m/%d/%Y %H:%M')

'10/29/2011 20:30'

In [63]:
datetime.strptime('20091031', '%Y%m%d')

datetime.datetime(2009, 10, 31, 0, 0)

In [64]:
dt.replace(minute=0, second=0)

datetime.datetime(2011, 10, 29, 20, 0)

In [65]:
dt2 = datetime(2011, 11, 15, 22, 30)
delta = dt2 - dt
print(delta)
type(delta)

17 days, 1:59:39

datetime.timedelta

In [66]:
dt
dt + delta

datetime.datetime(2011, 11, 15, 22, 30)

## Control Flow

### if, elif, and else

#### single condition
```Python
if x < 0:
    print('It's negative')
```

#### multiple conditions

```Python
if x < 0:
    print('It's negative')
elif x == 0:
    print('Equal to zero')
elif 0 < x < 5:
    print('Positive but smaller than 5')
else:
    print('Positive and larger than or equal to 5')
```

#### or condition

```Python
a = 5; b = 7
c = 8; d = 4

if a < b or c > d:
    print('Made it')
```

### Chain conditions

In [ ]:
if 4 > 3 > 2 > 1:
    print("Chain condition is True !")
else:
    print("Chain condition is Not True !")

In [ ]:
if 4 > 3 > 2 < 1:
    print("Chain condition is True !")
else:
    print("Chain condition is Not True !")

## for loops

```Python
# 1
for value in collection:
    # do something with value

# 2
sequence = [1, 2, None, 4, None, 5]
total = 0

for value in sequence:
    if value is None:
        continue
    total += value

#3
sequence = [1, 2, 0, 4, 6, 5, 2, 1]
total_until_5 = 0
for value in sequence:
    if value == 5:
        break
    total_until_5 += value
```

In [70]:
a = list('python')

In [75]:
for i, x in enumerate(a):
    print(i, x)

0 p
1 y
2 t
3 h
4 o
5 n

In [76]:
a

['p', 'y', 't', 'h', 'o', 'n']

In [74]:
i = 0

for x in a:
    print(i, x)
    i += 1

0 p
1 y
2 t
3 h
4 o
5 n

In [77]:
# two loop for 2-d tuple
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i, j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

## while loops

In [ ]:
x = 256
total = 0

while x > 0:
    if total > 500:
        break
    total += x
    x = x // 2

print(x)

## range

In [ ]:
help(range)

In [79]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list(range(10))

In [80]:
list(range(0, 20, 2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [81]:
list(range(5, 0, -1))

[5, 4, 3, 2, 1]

In [86]:
x = 10

while x:
    x -= 1

print(x)

0

In [82]:
[x for x in range(10) if not x % 3]

[0, 3, 6, 9]

In [88]:
def filter1(x):
    return not x % 3

In [87]:
list(filter(lambda x: not x % 3, range(10)))

[0, 3, 6, 9]

In [89]:
list(filter(filter1, range(10)))

[0, 3, 6, 9]